@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

.night {
    background-color: #1a1a1a;
    color: #fff;
}

.day {
    background-color: #fff;
    color: #000;
}

#container-previsao {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
}

#previsao {
    font-size: 1.7rem;
    margin: 0;
}

#nome-cidade {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
}

#container {
    display: flex;
    align-items: center;
}

#temperatura {
    font-size: 7rem;
    font-weight: 700;
}

#container-previsao {
    padding-left: 7rem;
}

#detalhes {
    font-weight: 500;
}

#sensacao {
    padding-bottom: 1rem;
}