@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-image: url(./night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fdfdfd;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: flex-end;
}

input {
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(255 255 255 / 20%);
}

::placeholder {
    color: #fdfdfd;
}

button {
    visibility: hidden
}

#container-previsao {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 85vh;
    flex-direction: column;
}

#previsao {
    font-size: 1.7rem;
    margin: 0;
}

#nome-cidade {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
}

#container {
    display: flex;
    align-items: center;
}

#temperatura {
    font-size: 7rem;
    font-weight: 700;
}

#container-previsao {
    padding-left: 7rem;
}

#detalhes {
    font-weight: 500;
}

#sensacao {
    padding-bottom: 1rem;
}